{%extends 'pages_app/base_template.html'%} {%block content%}
<h1>¿Quien soy?</h1>
<div align="center">
  <hr />
  <div class="col-6">
    <h3>Gabriel Benitez </h3>
    <p>Estudiante de Python</p>
    <p>
      Hola soy gabriel benitez y tengo 23 años, soy alguien a quien le facina
      la tecnologia, me encanta la idea de poder crear ya se una pagnia, algun
      juego, algun arte, musica, algo que le agrade a la gente o las ayude.
      me encanta la ilustracion digital, la programacion, la carpinteria y
      tambien servicio tecnito de pc. En estos ultimos años no sabia bien a 
      donde encaminar mi vida pero gracias a un amigo que me recomendo la 
      plataforma coderhouse que es hermosa, pude hacer unos cursos de ilustracion
      digital y programacion, con eso ya me decidi con que avanzar
      Espero que les guste el trabajo.
    </p>
    <hr />
  </div>
</div>

{%endblock%}